.container {
  height: 100vh;
  width: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  // background-image: linear-gradient(#86437a,#ea802a);

}

.wrapper3 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: linear-gradient(to bottom right, #ea802a, #86437a);
  // background-image: linear-gradient(#ea802a, #86437a);

}

.point3 {
  box-sizing: border-box;
  margin: 0px 5px;
  height: 0px;
  width: 10px;
  border-top: 0.5px solid inherit;
  border-bottom: 0.5px solid inherit;
  border-radius: 10px;
  background-color: transparent;
  background-image: linear-gradient(#ea802a, #86437a);

  // border: 1px solid #86437a;

  z-index: 1;
}

.point3:nth-child(4), .point3:nth-child(5) {
  animation: bounce_center 2s ease-in-out infinite;
}
.point3:nth-child(3), .point3:nth-child(6) {
  animation: bounce_inner 2s ease-in-out infinite;
}
.point3:nth-child(2), .point3:nth-child(7) {
  animation: bounce_outer 2s ease-in-out infinite;
}
.point3:nth-child(1), .point3:nth-child(8) {
  animation: bounce_out 2s ease-in-out infinite;
}


@keyframes bounce_center {
  0% {
    height: 10px;
  }
  50% {
    height: 150px;
  }
  100% {
    height: 10px;
  }
}

@keyframes bounce_inner {
  0% {
    height: 10px;
  }
  50% {
    height: 140px;
  }
  100% {
    height: 10px;
  }
}

@keyframes bounce_outer {
  0% {
    height: 10px;
  }
  50% {
    height: 110px;
  }
  100% {
    height: 10px;
  }
}

@keyframes bounce_out {
  0% {
    height: 10px;
  }
  50% {
    height: 60px;
  }
  100% {
    height: 10px;
  }
}
